div {
	font-weight: bold;
	margin: 20px;
	background: url('imagenes/f01.png') left bottom repeat-x,
				url('imagenes/f02.png') left bottom no-repeat,
				url('imagenes/f03.png') left top repeat-x;
	background-color: #a4d3ff;
}

p {
	margin: 5px;

}

.azul {
	border: solid 3px blue;
	width: 200px;
	height: 100px;
}

.roja {
	border: solid 4px red;
	width: 400px;
	height: 200px;
	margin-left: 40px;
}

