table, tr, td {
	font-family: arial;
	color: Maroon;
	text-align: center;
	border: inset 5px LemonChiffon;
	border-collapse: collapse;
	background-repeat: repeat;
}

td {
	padding-left: 15px;
	padding-right: 15px;
}

.verde {
	background-color: #33995f;
}

.naranja {
	background-color: PeachPuff;
}

.amarillo {
	background-color: #ffff99;
}

.fondopatas {
	background-image: url('fondopatas.gif');
}