.tituloTabla {
	text-align: center;
	margin: 0px;
}

table, tr, td {
	border: inset 3px LightGrey;
	border-collapse: collapse;
	font-weight: bold;
	margin: auto;
}

td {
	width: 400px; 
	text-align: center;
	color: red;
}

th {
	background-color: LightGreen;
}

.black {
	color: unset;
}

.blue {
	background-color: Aquamarine;
	text-align: left;
	color: unset;
}

.pink {
	background-color: Lightpink;
	text-align: right;
	vertical-align: bottom;
	color: unset;
}