body {
	background-image: url('imagenes/ac.jpg');
}

.divCentral {
	text-align: center;
	margin-top: 20px;
}

.square{
    width: 150px;
    height: 150px;
    border: solid 2px black;
    display: inline-block;
    margin: 20px;
}

.A {
	background-image: url('imagenes/back_mantel.jpg');
}

.B {
	background-image: url('imagenes/back_mantel.jpg');
	background-clip: content-box;
}

.C {
	background-image: url('imagenes/back_mantel.jpg');
	background-size: 100%, 100%;
}

.D {
	background-image: url('imagenes/back_mantel.jpg');
	background-repeat: no-repeat;
	background-size: 100%, 100%;
	background-origin: content-box;
}

.E {
	background-image: url('imagenes/dh.jpg');
	background-attachment: no-repeat;
	background-size: cover;
}

.F {
	background-image: url('imagenes/dh.jpg');
	background-attachment: no-repeat;
	background-size: cover;
	background-origin: content-box;
}

.G {
	background-image: url('imagenes/dh_2.jpg');
	background-attachment: no-repeat;
	background-size: contain;
	background-position: center;
}

.H {
	background-image: url('imagenes/dh_3.jpg');
	background-attachment: no-repeat;
	background-size: contain;
	background-position: center;
}

.I {
	background: linear-gradient(to right, #d2ff52 0%, #566647 100%); 
}

.J {
 	background: linear-gradient(to bottom, rgba(240,138,116,1) 0%,rgba(140,51,16,1) 80%,rgba(117,34,1,1) 51%,rgba(191,110,78,1) 106%); 
 } 

.K {
	background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(239,239,210,1) 100%);
}

.L {
	background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(255,0,0,0) 100%);