body {
	font-family: lucida sans unicode;
	background: lightgrey;
}

.divPanoramica {
	margin-left: 25px;
	margin-right: 25px;
}

.panoramica {
	width: 100%
}

.left {
	float: left;
    position: relative;
    width: 15%;
}

.right {
	float: left;
    position: relative;
    width: 85%;
}

ul{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: unset;
}

li {
	color: gray;
	text-align: center;
	background-image: linear-gradient(rgba(255,0,0,0) 50%, YellowGreen);
	border: solid 1px lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
}

.inicio{
	background-image: linear-gradient(rgba(255,0,0,0) 50%, Peru);
	color: black;
	font-weight: bold;
}

ul {
	list-style: none
}

.divBody {
	background-color: white;
	margin: 5px;
	padding: 15px;
	min-height: 100vh;
	border-radius: 10px;
}

span {
	color: Peru;
}

h1 {
	color: OliveDrab;
	text-align: center;
	letter-spacing: 10px;
}

h2 {
	margin-bottom: 0px;
}

h3 {
	color: Peru;
}

.info {
	border: solid 2px lightgrey;
	background-image: linear-gradient(#e6e6e6, rgba(255,0,0,0) 10%, rgba(255,0,0,0) 90%, #e6e6e6);
	padding: 10px; 
	margin: 10px;
}

.divH2 {
	border-bottom: solid 1px lightgrey;
	color: YellowGreen;
}
footer {
	padding-top: 15px;
	color: lightgrey;
	text-align: center;
}