table {
	border: outset 3px blue;
	margin-top: 30px !important;
	margin: auto;
	padding: 20px;
	background-color: LightGoldenRodYellow;
}

#imput {
	border: solid 2px black;
	text-align: right;
	padding-right: 10px;
	width: 95%;
	font-size: 20px;
}

button {
	height: 25px;
	width: 40px;
	margin: 8px;
	font-weight: bold;
}

.redRow button {
	width: 80px;
	color: red;
}