body {
	background: url('pinguinos.jpg');
	background-repeat: no-repeat;
	background-position: top;
	margin-top: 18%;
}

table, tr, td {
	border: inset 3px LightGrey;
	border-collapse: collapse;
	margin: auto;
}

th {
	background-color: white;
	font-weight: bold;
}

td {
	width: 300px; 
	text-align: center;
	background-color: #ffff99;

}