table {
	margin: 20px;
	border: outset 5px lightgrey;
	background: DeepSkyBlue;
}

th, td {
	margin: 3px;
	padding-left: 20px;
	padding-right: 10px;
}

th {
	background-color: Teal;
	color: LightCyan;
}

tr {
	background-color: LightCyan;
}

.ultimaRow {
  background-color: #afcfaf;
}