/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 ago. 2019, 12:22:59
    Author     : PHP2
*/

.voto {
  padding: 0px;
}
.voto a {
  float: left;
  width: 15px;
  text-decoration: none;
  text-align: center;
  color: #f00;
  background-color: #f7f8e8;
  border-right: 1px solid white;
  font-size: 13px;
}

.voto li {
  display: inline;
}

